:root {
  --negro: #393939;
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
  --max-width-container: 73.125rem;
  --width-container: 95%;
  --color-primario: #313234;
  --color-titulos: #313234;
  --color-secundario: #ff1a00;
  --color-terciario: #999999;
  --color-white: white;
  --color-de-fondo: white;
  --color-texto-p: #5e5e5e;
  --bg-navChildren: #fb4834b0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-wrap: break-word;
}
body{
  font-family: var(--tipo-principal);
}
.page-number,
.post-content__ad,
.post-content__info,
a.post-content__url {
  text-decoration: none;
}
.posts-search-container {
  display: flex;
  padding: 5rem 0;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container{
  max-width: 90%;
  margin: 0 auto;

}
.search-logo {
  margin-bottom: 5rem;
  width: 100%;
  height: 3.9rem;
  font-size: 4rem;
  text-align: center;
}

.search-input-container  {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  justify-content: center;
  border: 0.125rem solid var(--color-terciario);
  border-radius: 1.875rem;
  transition: box-shadow 180ms ease-in-out;
  margin-bottom: 0.5rem;
  min-width: 50%;
  max-width: 90%;
  padding: 1rem 2rem;
}
.search-input-container input {
  font-size: 1.5rem;
  font-family: inherit;
  background-color: #fff;
  border: none;
  color: var(--color-primario);
  width: 100%;
}

.search-input-container  input:focus{
  outline: none;

}
.search-results-container {
  width: 100%;
}

.pagination-container,
.pagination-container-info {
  display: flex;
  justify-content: center;
}
span#postPageSearchBtn {
  cursor: pointer;
  padding: 0.5rem;
}
.posts-search-info {
  padding: 1.8rem 2rem;
  text-align: center;
}
.posts-results-container {
  display: grid;
  gap: 1.5rem;
}
.post-searched__content {
  display: grid;
  gap: 0.5rem;
}

.post-searched__content a {
  color: var(--color-titulos);
}

a.post-content__url p {
  font-weight: bold;
  font-size: 1.7rem;
  line-height: 2rem;
  margin-bottom: initial;
}
.post-date, .post-content-tags {
  color: #a3a3a3;
}

.post-content-tags{
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}
.tag-text{
  border: 0.06rem solid;
  padding: 0.2rem 0.5rem;
  
}
a.post-content__url:hover {
  color: var(--color-texto-p);
  text-decoration: underline;
}
.post-content__info {
  padding-left: 1rem;
}
.pagination-container-info p {
  border: 0.125rem solid var(--color-terciario);
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
}
ul#pagination {
  display: flex;
  list-style: none;
  gap: 0.5rem;
  row-gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  align-items: center;
}
ul#pagination li:before {
  content: "";
}
.page-number {
  color: #fff;
  background-color: var(--color-terciario);
  padding: 0.5rem 1rem;
}
.page-li-focus {
  background: var(--color-secundario);
}

@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 700px) {
  .search-input-container {
    width: 90%;
  }
}
@media screen and (max-width: 682px) {
 
}
@media screen and (max-width: 585px) {

}
